.ct-series-a {

  .ct-area {
    fill: #025AD7;
  }

  .ct-point {
    stroke: #00C5FF;
  }

  .ct-line {
    stroke: #029CD7;
  }
}

.ct-series-b {

  .ct-area {
    fill: #FF0000;
  }

  .ct-point {
    stroke: #ff100e;
  }

  .ct-line {
    stroke: #FF9090;
  }
}

.ct-series-c {

  .ct-area {
    fill: #3DF45A;
  }

  .ct-point {
    stroke: #1FC700;
  }

  .ct-line {
    stroke: #49F43D;
  }
}
